#floating-check-list{
    position:absolute;
    top:20px;
    right:20px;

    background-color:gray;
}

#check-list > span{
    background:#7F7F6D;
    display:inline-block;
    color:#E5E5C5;
    padding:10px;
    margin-left:10px;
    vertical-align: middle;

    transition:all 1s ease-out;
}
#check-list > span > span{
    vertical-align: middle;
}
#check-list span:first-child{
    margin-left: 0px;
}

#check-list span img{
    width:22px;
    margin-right:5px;
    vertical-align: middle;
}

#check-list > span.complete{
    background:#5FBF31;
    color:#FFF;
}
.complete > img{
    width:22px;
    height:22px;
    margin-right:5px;
}
#button-box{
    margin-top:20px;
    padding-top:20px;

    opacity:0;

    border-top:2px dashed #403F40;
    transition:all 1s;
}
#button-box.visible{
    opacity:1;
}

#button-box span,  #button-box img{
    vertical-align:middle;
}
#button-box img{
    width:45px;
    height:45px;
    display:inline-block;
    padding-right:5px;
}

#loading-block{
    -webkit-transition:all 1s linear;
    opacity:1;
}
#loading-block .error-item{
    background:#BEBFA4;
    font-size:1.3em;
    font-weight:bold;
    padding:20px;
    margin:20px 0px 0px 0px;
    display:block;
}

.ani-hidden{
    opacity:0 !important;
}